@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100svh;
}

h1,
nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: #ccc;
}
nav {
  position: sticky;
  top: 0;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  padding: 0.5rem 0.7rem;
  border-radius: 8px;
  transition: all 0.7s ease-in-out;
  color: inherit;
  border-bottom: 1px solid #ccc;
}

nav ul li:hover {
  background-color: #fff;
  border: 1px solid #fff;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
nav ul li:hover a {
  color: black;
}
.container {
  background: url('https://media.istockphoto.com/id/505051855/it/foto/torre-pendente-di-pisa-italia.webp?s=612x612&w=is&k=20&c=LeZI2m9hytUcm5qHWjcP9EY59jB57rzzGCH1xpmKmpQ=')
    center center/cover;
  max-width: 960px;
  margin: 0 auto;
}
section {
  padding-top: 5.5rem;
}

section h2 {
  padding: 1rem;
}

section p {
  font-size: 1.3rem;
  line-height: 1.7rem;
  padding: 0 1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.gallery img {
  width: 300px;
  margin: 10px;
  border-radius: 5px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6rem;
}

@media screen and (min-width: 640px) {
  nav ul li a {
    font-size: 1.3rem;
  }
  section {
    padding-top: 2.7rem;
  }

  section p {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0rem 5rem;
  }
}
